<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>CRYPTODEER!</title>
    <meta name="description" content="Cheers UP is a series of NFTs commissioned by bilibili">
    <meta name="keywords" content="Cheers UP, bilibili nft">
    <meta name="next-head-count" content="9">
    <link rel="stylesheet" href="static/css/aea1918a79394435.css" data-n-g="">

<link rel="stylesheet" href="static/css/index.css" data-n-p="">
    
  </head>
  <body>
      <div class="nav fixed w-full left-0 top-0 z-[100] h-[110px]" style="background-color:transparent">
        <nav class="h-[100%] flex w-[100%] justify-between px-[80px] items-center">
          <div class="logo">
             <img alt="" src="/icon/cheers-up-logo.png" style="width:210px;" class="logoimg">
          </div>
          <div class="flex">
            <ul>
              <li>
                  <a class="" target="_blank" href="https://discord.gg/cheersup"><img class="tuite" src="static/image/tuite.png" alt="" style="width:30px;"></a>
              </li>
               <li>
                  <a class="" target="_blank" href="https://discord.gg/cheersup"><img class="discord" src="static/image/discord.png" alt="" style="width:30px;"></a>
              </li>
              <li>
                  <a class="" target="_blank" href="https://discord.gg/cheersup"><img class="OpenSea" src="static/image/OpenSea-fill.png" alt="" style="width:30px;"></a>
              </li>
<li>
  <div class="relative">
    <div class="menu current-locale flex justify-center items-center cursor-pointer">
      <span class="mr-[4px] font-black">EN</span>
      <svg viewBox="0 0 14 9" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="h-[9px] font-black">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.45 2.449A1.2 1.2 0 0 0 11.753.752L7 5.503 2.25.752A1.2 1.2 0 0 0 .553 2.449l5.6 5.6a1.2 1.2 0 0 0 1.697 0l5.6-5.6Z">
        </path>
      </svg>
    </div>
    <div class="menu-list dropdown absolute -top-[8px] -left-[18px] w-[78px] h-[64px] p-[4px] rounded-[6px] bg-white shadow-[0_1.55952px_3.11905px_rgba(0,0,0,0.2)] transition" style="display:none;">
      <a href="/index.html">
        <div class="item text-black h-[26px] flex items-center rounded-[4px] transition hover:bg-black hover:text-white">
          <div class="w-[24px] text-center">
            <svg viewBox="0 0 14 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="h-[10px]">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13 2.297A1.2 1.2 0 0 0 11.303.6L5.4 6.503 2.697 3.8A1.2 1.2 0 0 0 1 5.497L4.55 9.048a1.198 1.198 0 0 0 1.698 0L13 2.299Z">
              </path>
            </svg>
          </div>
          <div>EN</div>
        </div>
      </a>
      <a href="/index.html">
        <div class="item text-black h-[26px] flex items-center rounded-[4px] transition hover:bg-black hover:text-white mt-[4px]">
          <div class="w-[24px] text-center">
          </div>
          <div>CN</div>
        </div>
      </a>
    </div>
  </div>
</li>
            </ul>
            <ul class="account-ul">
              <li>
                  <a href="#">
                <button class="connect-btn" tabindex="0" type="button">
                  <span class="w-[100%] text-[16px] font-medium">CONNECT WALLET</span>
                </button></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <main>
        <div class="bg-black pb-[2px]">
          <div class="cheers_up__banner relative">
              
            <div class="video-bg overflow-hidden">
                <div style="font-size: 50px;
margin-top: 150px;font-weight: 100;
text-align: center;color: #fff;">畅游web3，打造明星联盟。</div>
              <img src="static/image/video.jpg" alt="" class="w-full align-top rounded-b-[60px] overflow-hidden">
            </div>
            <div class="cheers_up__scroll_text h-[40px] bg-[url(&#x27;/img/cheers-up/scrolltext1x.jpg&#x27;)] bg-contain bg-repeat-x animate-[scrollx_2s_linear_infinite] transform-gpu">
            </div>
            <div class="w-[110px] h-[110px] flex items-center justify-center cursor-pointer absolute bottom-[110px] right-[54px]">
              <div class="w-[100px] h-[100px] rounded-full bg-black animate-[scale_4s_linear_infinite]">
              </div>
              <div class="w-[92px] h-[92px] rounded-full overflow-hidden absolute flex items-center justify-center transition hover:scale-110">
                <img src="static/image/arrow-down.png" alt="" class="h-[52px] animate-[arrowdown_4s_linear_infinite]">
              </div>
            </div>
          </div>
          <div class="one container">
            <div class="w-[55.25%] mr-[3.52%]">
              <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                  <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%271313%27%20height=%27706%27/%3e">
                </span>
                <img alt="cheersup" src="/static/image/cheers.png" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
              </span>
            </div>
            <div class="w-[420px] min-w-[420px]">
              <div class="text-[14px] leading-[22px] mb-[32px] text-white font-[&quot;Roboto&quot;]">
                  <div class="title">项目简介</div><br/>
                  CryptoDeer是群星联盟发布的第一个系列NFT，以加密鹿为主要元素。CryptoDeer将由当红流量女星持有，打造群星联盟，助力明星逐鹿加密世界。持有NFT可以获得超强赋能，明星互动、明星产品空投、明星周边空投、白名单空投、限量福利一系列综合赋能，打造加密世界群星联盟IP，组件群星区块链联盟。
                <br>
              </div>
              <div class="text-white font-[&#x27;Roboto&#x27;]">
                <div>
                  <div class="bg-[#18191C] px-[32px] py-[24px] rounded-[16px] relative mt-[12px] first:mt-0 first:after:content-none after:content-[&#x27;&#x27;] after:block after:absolute after:w-[8px] after:h-[12px] after:-top-[12px] after:left-[32px] after:bg-[#18191C]">
                    <div class="flex justify-between items-center">
                      <div class="text-[18px] font-medium">Get allow list</div>
                      <div class="text-[16px] font-normal" style="opacity:0.2">CLOSED</div>
                    </div>
                  </div>
                  <div class="bg-[#18191C] px-[32px] py-[24px] rounded-[16px] relative mt-[12px] first:mt-0 first:after:content-none after:content-[&#x27;&#x27;] after:block after:absolute after:w-[8px] after:h-[12px] after:-top-[12px] after:left-[32px] after:bg-[#18191C]">
                    <div class="flex justify-between items-center">
                      <div class="text-[18px] font-medium">
                        <a target="_blank" href="javascript:;">Verify winner list
                          <!-- -->&gt;</a>
                      </div>
                      <div class="text-[16px] font-normal" style="opacity:1">ANNOUNCED</div>
                    </div>
                  </div>
                  <div class="bg-[#18191C] px-[32px] py-[24px] rounded-[16px] relative mt-[12px] first:mt-0 first:after:content-none after:content-[&#x27;&#x27;] after:block after:absolute after:w-[8px] after:h-[12px] after:-top-[12px] after:left-[32px] after:bg-[#18191C]">
                    <div class="flex justify-between items-center">
                      <div class="text-[18px] font-medium">
                        <span class="font-black">xxx-</span>minted</div>
                      <div class="text-[16px] font-normal" style="opacity:1">COMPLETED</div>
                    </div>
                    <div class="mt-[24px]">
                      <style data-emotion="css 1v7mkc0"></style>
                      <style data-emotion="css 13m40wb"></style>
                      <style data-emotion="css 18xvno"></style>
                      <button class="MuiLoadingButton-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButtonBase-root Mui-disabled w-full h-[48px] rounded-full text-[18px] font-normal bg-[#E0E0E0] css-18xvno" tabindex="-1" type="button" disabled="">
                        <span class="text-[#C9CCD0]">MINT</span>
                      </button>
                    </div>
                    <div class="block">
                      <a target="_blank" href="javascript:;">
                        <style data-emotion="css 161qu8x"></style>
                        <style data-emotion="css eod0ug"></style>
                        <style data-emotion="css 1gt1vh2"></style>
                        <button class="MuiLoadingButton-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButtonBase-root w-full h-[48px] rounded-full mt-[16px] text-[18px] font-normal css-1gt1vh2" tabindex="0" type="button">
                          <style data-emotion="css 6xugel">.css-6xugel{display:inherit;margin-right:8px;margin-left:-4px;}.css-6xugel>*:nth-of-type(1){font-size:20px;}</style>
                          <span class="MuiButton-startIcon MuiButton-iconSizeMedium css-6xugel">
                            <svg width="24" height="24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.02 12.802c1.623-2.424.676-5.475 0-6.698l-4.528 6.06c.26.212 1.873.957 4.528.638Z">
                              </path>
                              <path d="M10.518 10.25C10.83 7.858 9.58 5.147 8.8 3.87c.873 0 1.925.426 2.341.639V3.392c-.052-.265.032-1.115.78-1.115.75 0 .938.85.938 1.116v1.595c2.341 1.594 4.683 4.305 3.747 6.697-.75 1.913-1.978 2.818-2.498 3.03h-1.25v1.595c-.05.053.188.159 1.562.159 1.718 0 1.56-.797 3.122-1.754 1.25-.766 3.227-1.063 4.06-1.117v1.117c-.885.585-2.586 1.964-3.435 3.667-.738 1.48-2.238 1.701-2.967 1.596H7.083c-3.497 0-4.58-3.509-4.684-5.263.937-.053 3.185-.127 4.684 0 .375 1.276 1.301 1.701 1.718 1.754h2.185v-1.754H8.8c.365-.638 1.445-2.38 1.718-4.465Z">
                              </path>
                            </svg>
                          </span>
                          <span style="text-transform:none">View on OpenSea</span>
                        </button>
                      </a>
                      <a target="_blank" href="javascript:;">
                        <style data-emotion="css 161qu8x"></style>
                        <style data-emotion="css eod0ug"></style>
                        <button class="MuiLoadingButton-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButtonBase-root w-full h-[48px] rounded-full mt-[16px] text-[18px] font-normal css-1gt1vh2" tabindex="0" type="button">
                          <style data-emotion="css 6xugel">.css-6xugel{display:inherit;margin-right:8px;margin-left:-4px;}.css-6xugel>*:nth-of-type(1){font-size:20px;}</style>
                          <span class="MuiButton-startIcon MuiButton-iconSizeMedium css-6xugel">
                            <svg width="24" height="24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="m7.883 4.615-6.037 6.042L12 20.807l10.153-10.15-6.037-6.042H7.883Zm-.549 3.842c2.566-2.576 6.766-2.576 9.33 0l2.196 2.196-2.195 2.195c-2.565 2.577-6.765 2.577-9.33 0l-2.196-2.195 2.195-2.196Zm1.51 2.196a3.156 3.156 0 1 0 6.311 0 3.156 3.156 0 0 0-6.311 0Zm3.155 1.372a1.372 1.372 0 1 1 0-2.744 1.372 1.372 0 0 1 0 2.744Z">
                              </path>
                            </svg>
                          </span>
                          <span style="text-transform:none">View on LooksRare</span>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="two container">
              
            <div class="w-[42.97%] mr-[5%]">
                <div class="two title">
               MORE
              </div>
              <div class="text-white text-[14px] leading-[22px] mt-[40px] font-[&quot;Roboto&quot;]">
                <div class="mt-[40px]">
                  <div class="font-extrabold text-[20px] leading-[28px]">怎么购买cryptodeer?</div>
                  <div>
                    <div>CryptoDeer将在以太链上以ERC-721的形式存在，并通过IPFS存储相关内容，获取CryptoDeer需要使用Eth在以太链上进行Mint。</div>

                  </div>
                </div>
                <div class="mt-[40px]">
                  <div class="font-extrabold text-[20px] leading-[28px]">发行数量是多少?地板价多少?</div>
                  <div>
                    <div>发行数量9999，其中白名单xxxx，公开mint xxxx，地板价xxx eth。</div>
                                    </div>
                </div>
                <div class="mt-[40px]">
                  <div class="font-extrabold text-[20px] leading-[28px]"></div>
                  <div>
                    <div></div>
                  </div>
                </div>
                <div class="mt-[40px]">
                  <div class="font-extrabold text-[20px] leading-[28px]"></div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
            <img src="static/image/video.png" alt="" class="w-[51.25%] align-top mt-[122px]">
          </div>
          <div class="three container">

              <div class="three title">
               畅游web3
              </div>
<div>
  <div class="style_roadmap-item__JBIDt" style="color:#FFC045">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 style_roadmap-wrap__wSX36 MuiAccordion-root MuiAccordion-rounded MuiAccordion-gutters css-67l5gl">
      <div class="MuiButtonBase-root MuiAccordionSummary-root MuiAccordionSummary-gutters style_roadmap-title__1YpeM" tabindex="0" role="button" aria-expanded="false">
        <div class="style_roadmap-head__2RhFd MuiAccordionSummary-content MuiAccordionSummary-contentGutters">
        </div>
      </div>
      <div class="tianwei MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="display: none;">
        <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
          <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
            <div role="region" class="MuiAccordion-region">
              <div class="MuiAccordionDetails-root style_roadmap-body__KhT2q css-u7qq7e" style="background-color:#FFC045">
               <br/><br/> <p>我们需要搭建现实通往加密世界的桥梁,
                  <br>让有意义的明星IP，实现价值飞跃.
                  <br>我们是加密世界的冒险家,
                  <br>未来将打造明星联盟,
                  <br>彼此相连，互帮互助,
                  <br>逐鹿加密世界.<br>
                  <br>我们见证现实世界中明星效应放大,
                  <br>这是打通不同人群沟通成本的文化符号,
                  <br>web3需要充满勇气的团队,
                  <br>用区块鹿为全世界明星价值赋能,
                  <br>迎接这场充满想象力的旅程.
                  <br>
                  <br>造梦星联盟,
                  <br>领先一步,触及web3世界!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style_roadmap-wow__rFv5y" style="color:#FFC045">
    </div>
    <div class="style_roadmap-man__1Imib">
      <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
        <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
          <img class="man-1" alt="" aria-hidden="true" src="/img/roadmap/man/1.png">
        </span>
    
      </span>
    </div>
    <div class="style_roadmap-shim__d4_M7">
    </div>
    <div class="style_roadmap-shadow-title__mcQnu">
      <div>
        <div class="style_icon__loGT6" style="color:#FFC045">
           <img alt="order-1" src="/img/roadmap/order/1.png">
        </div>
        <span class="style_text__EIkOQ">使命</span>
      </div>
      <div class="style_open__mXmIr">
          <img alt="open" src="/img/roadmap/open.svg" class="opentianwei">
      </div>
    </div>
  </div>
  <div class="style_roadmap-item__JBIDt" style="color:#F6E3D8">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 style_roadmap-wrap__wSX36 MuiAccordion-root MuiAccordion-rounded MuiAccordion-gutters css-67l5gl">
      <div class="MuiButtonBase-root MuiAccordionSummary-root MuiAccordionSummary-gutters style_roadmap-title__1YpeM css-1iji0d4" tabindex="0" role="button" aria-expanded="false">
        <div class="style_roadmap-head__2RhFd MuiAccordionSummary-content MuiAccordionSummary-contentGutters css-17o5nyn">
        </div>
      </div>
      <div class="tianwei MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="display:none;">
        <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
          <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
            <div role="region" class="MuiAccordion-region">
              <div class="MuiAccordionDetails-root style_roadmap-body__KhT2q css-u7qq7e" style="background-color:#F6E3D8">
               <br/><br/> <h3>明星IP生态
                  <img src="/img/cheers-up/in-progress-en.png" class="ml-[8px]" alt="" height="13"></h3>
                <p>持续提供NFT应用场景，打造信用凭证机制，构建星联盟，让明星系列NFT在更多用户间流转，以此来激励用户去积极建设社区。</p>
                <h3>XX钱包支持，(进度)</h3>
<h3>资源位开发</h3>

   <p>用来展示NFT，流量曝光，后续上架更多玩法
    <br>主人态：仅个人用户可见的部分，个人钱包界面
   <br>客人态：个人banner位，带有认证标识</p>
    <h3>名单建设</h3>
                <p>搜集明星经纪公司资源，作为预备的合作方，发放身份
                </p>
   <h3>明星录入和制定规范</h3>
                <p>   包括录入明星的标准
     <br>制定合理的入驻规范，NFT的推广策略</p>
         
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style_roadmap-wow__rFv5y" style="color:#F6E3D8">
    </div>
    <div class="style_roadmap-man__1Imib">
      <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
        <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
          <img class="man-1" alt="" aria-hidden="true" src="/img/roadmap/man/2.png">
        </span>

      </span>
    </div>
    <div class="style_roadmap-shim__d4_M7">
    </div>
    <div class="style_roadmap-shadow-title__mcQnu">
      <div>
        <div class="style_icon__loGT6" style="color:#F6E3D8">
          <img alt="order-1" src="/img/roadmap/order/2.png">
        </div>
        <span class="style_text__EIkOQ">元宇宙生态</span>
      </div>
       <div class="style_open__mXmIr">
          <img alt="open" src="/img/roadmap/open.svg" class="opentianwei">
      </div>
    </div>
  </div>
  <div class="style_roadmap-item__JBIDt" style="color:#FE8FB4">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 style_roadmap-wrap__wSX36 MuiAccordion-root MuiAccordion-rounded MuiAccordion-gutters css-67l5gl">
      <div class="MuiButtonBase-root MuiAccordionSummary-root MuiAccordionSummary-gutters style_roadmap-title__1YpeM css-1iji0d4" tabindex="0" role="button" aria-expanded="false">
        <div class="style_roadmap-head__2RhFd MuiAccordionSummary-content MuiAccordionSummary-contentGutters css-17o5nyn">
        </div>
      </div>
      <div class="tianwei MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="display:none;">
        <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
          <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
            <div role="region" class="MuiAccordion-region">
              <div class="MuiAccordionDetails-root style_roadmap-body__KhT2q css-u7qq7e" style="background-color:#FE8FB4">
                <br><br><h3>web3应用场景</h3>
                <p>定期举办社区活动，打造明星化、娱乐化氛围浓郁的NFT社区。
<br>逐步完善社区DAO治理规则，允许持有NFT或身份型用户参与到社区深度建设中，并以NFT或奖励机制来激励用户。</p>
                
<h3>web3场外聚会</h3>

   <p>cryptodeer全球用户交流会/主题线下活动</p>
   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style_roadmap-wow__rFv5y" style="color:#FE8FB4">
    </div>
    <div class="style_roadmap-man__1Imib">
      <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
        <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
          <img class="man-1" alt="" aria-hidden="true" src="/img/roadmap/man/1.png">
        </span>

      </span>
    </div>
    <div class="style_roadmap-shim__d4_M7">
    </div>
    <div class="style_roadmap-shadow-title__mcQnu">
      <div>
        <div class="style_icon__loGT6" style="color:#FE8FB4">
          <img alt="order-1" src="/img/roadmap/order/3.png">
        </div>
        <span class="style_text__EIkOQ">社区建设</span>
      </div>
       <div class="style_open__mXmIr">
          <img alt="open" src="/img/roadmap/open.svg" class="opentianwei">
      </div>
    </div>
  </div>
  <div class="style_roadmap-item__JBIDt" style="color:#FFAD92">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 style_roadmap-wrap__wSX36 MuiAccordion-root MuiAccordion-rounded MuiAccordion-gutters css-67l5gl">
      <div class="MuiButtonBase-root MuiAccordionSummary-root MuiAccordionSummary-gutters style_roadmap-title__1YpeM css-1iji0d4" tabindex="0" role="button" aria-expanded="false">
        <div class="style_roadmap-head__2RhFd MuiAccordionSummary-content MuiAccordionSummary-contentGutters css-17o5nyn">
        </div>
      </div>
      <div class="tianwei MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="display:none;">
        <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
          <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
            <div role="region" class="MuiAccordion-region">
              <div class="MuiAccordionDetails-root style_roadmap-body__KhT2q css-u7qq7e" style="background-color:#FFAD92">
             <br/><br/>  <h3>将cryptodeer构建成明星联盟IP形象</h3>
                <p>让所有web2/现实世界中追星的用户，关注cryptodeer，在这里能完成“追星”的各种行为。
结合元宇宙生态建设，引入更多明星IP，进行深入联动合作。</p>
                
<h3>市场活动</h3>

   <p>筹划多元化活动，通过多种形式让用户了解cryptodeer的社区文化，以及元宇宙生态建设进度。</p>
                   
<h3>自主创作</h3>

   <p>鼓励用户自发性做出符合cryptodeer精神的作品</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style_roadmap-wow__rFv5y" style="color:#FFAD92">
    </div>
    <div class="style_roadmap-man__1Imib">
      <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
        <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
          <img class="man-1" alt="" aria-hidden="true" src="/img/roadmap/man/2.png">
        </span>
      </span>
    </div>
    <div class="style_roadmap-shim__d4_M7">
    </div>
    <div class="style_roadmap-shadow-title__mcQnu">
      <div>
        <div class="style_icon__loGT6" style="color:#FFAD92">
         <img alt="order-1" src="/img/roadmap/order/4.png">
        </div>
        <span class="style_text__EIkOQ">IP建设</span>
      </div>
       <div class="style_open__mXmIr">
          <img alt="open" src="/img/roadmap/open.svg" class="opentianwei">
      </div>
    </div>
  </div>
  <div class="style_roadmap-item__JBIDt" style="color:#91DDF3">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 style_roadmap-wrap__wSX36 MuiAccordion-root MuiAccordion-rounded MuiAccordion-gutters css-67l5gl">
      <div class="MuiButtonBase-root MuiAccordionSummary-root MuiAccordionSummary-gutters style_roadmap-title__1YpeM css-1iji0d4" tabindex="0" role="button" aria-expanded="false">
        <div class="style_roadmap-head__2RhFd MuiAccordionSummary-content MuiAccordionSummary-contentGutters css-17o5nyn">
        </div>
      </div>
      <div class="tianwei MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="display:none;">
        <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
          <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
            <div role="region" class="MuiAccordion-region">
              <div class="MuiAccordionDetails-root style_roadmap-body__KhT2q css-u7qq7e" style="background-color:#91DDF3">
               <br/><br/><h3>会员制（付费身份）</h3>
<p>制定专门回馈会员的福利池

<h3>明星展示面外显</h3>
<p>对cryptodeer有更高贡献的明星IP，给予明星IP展示外显的权限，升级赋能，同时，鼓励社区探索更多为明星赋能的方式。</p>

<h3>实体周边</h3>
<p>尝试衔接现实世界，推出线下web3周边</p>

<h3>展会活动</h3>
<p>继续为cryptodeer的NFT持有者带来更多场景化的价值</p>

<h3>信用凭证</h3>
<p>持有cryptodeer的NFT用户获得信用凭证，可从链上溯源。
<br/>1>永久白名单俱乐部（优先挑选和购买权限，终生有效）
<br/>2>元宇宙独特身份权限
<br/>3>自由门权限</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style_roadmap-wow__rFv5y" style="color:#91DDF3">
    </div>
    <div class="style_roadmap-man__1Imib">
      <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
        <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
          <img class="man-1" alt="" aria-hidden="true" src="/img/roadmap/man/1.png">
        </span>
      </span>
    </div>
    <div class="style_roadmap-shim__d4_M7">
    </div>
    <div class="style_roadmap-shadow-title__mcQnu">
      <div>
        <div class="style_icon__loGT6" style="color:#91DDF3">
          <img alt="order-1" src="/img/roadmap/order/5.png">
        </div>
        <span class="style_text__EIkOQ">社区福利</span>
      </div>
       <div class="style_open__mXmIr">
          <img alt="open" src="/img/roadmap/open.svg" class="opentianwei">
      </div>
    </div>
  </div>
  <div class="style_roadmap-item__JBIDt" style="color:#97A1FC">
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 style_roadmap-wrap__wSX36 MuiAccordion-root MuiAccordion-rounded MuiAccordion-gutters css-67l5gl">
      <div class="MuiButtonBase-root MuiAccordionSummary-root MuiAccordionSummary-gutters style_roadmap-title__1YpeM css-1iji0d4" tabindex="0" role="button" aria-expanded="false">
        <div class="style_roadmap-head__2RhFd MuiAccordionSummary-content MuiAccordionSummary-contentGutters css-17o5nyn">
        </div>
      </div>
      <div class="tianwei MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="display:none;">
        <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
          <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
            <div role="region" class="MuiAccordion-region">
              <div class="MuiAccordionDetails-root style_roadmap-body__KhT2q css-u7qq7e" style="background-color:#97A1FC">
               <br/><br/><h3> 行业标杆</h3>
<p>做成明星IP NFT的头部系列作品，</p>

<h3>社区生态扩展</h3>
<p>鼓励社区成员进行更积极地建设，互相赋能</p>

<h3>用户参与创作</h3>
<p>COO协议，用户参与二次创作，IP生态更繁荣</p>

<h3>NFT关联</h3>
<p>NFT作品互相关联，成体系；</p>

<h3>元宇宙明星IP孵化社区</h3>
<p>将社区建设成元宇宙明星IP的孵化社区，为更多明星赋能。</p>

<h3>联动其他NFT</h3>
<p>社区外的NFT联动活动</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="style_roadmap-wow__rFv5y" style="color:#97A1FC">
    </div>
    <div class="style_roadmap-man__1Imib">
      <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
        <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
          <img class="man-1" alt="" aria-hidden="true" src="/img/roadmap/man/1.png">
        </span>
      </span>
    </div>
    <div class="style_roadmap-shim__d4_M7">
    </div>
    <div class="style_roadmap-shadow-title__mcQnu">
      <div>
        <div class="style_icon__loGT6" style="color:#91DDF3">
          <img alt="order-1" src="/img/roadmap/order/6.png">
        </div>
        <span class="style_text__EIkOQ">长远价值</span>
      </div>
       <div class="style_open__mXmIr">
          <img alt="open" src="/img/roadmap/open.svg" class="opentianwei">
      </div>
    </div>
  </div>
</div>

          </div>
 
 <div class="four container">
     <div class="title">发展历程</div>
           <div><img src="static/image/course.png" alt="" class="" style="text-align: center;width: 260px;"></div> 
           <div id="tianwei" class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden" style="background: #1D1D1D;border-radius: 16px;text-align: center;">
         <img src="static/image/course_con.png" alt="" class="">
      </div>
          </div>
          
          <div class="container mx-auto mt-[160px] -mb-[16px] flex flex-col items-center relative z-1 2xl:w-[1440px]">
            <img src="static/image/the-team.png" alt="" class="w-[30.47%] ml-[4.06%]">
            <div class="text-[14px] leading-[22px] text-white text-center font-[&#x27;Roboto&#x27;]">
              <div class="relative w-[420px] mx-auto">
                <div>Verified Smart Contract Address:XXXXX</div>
                <img src="static/image/base-lab-circle.png" alt="" class="h-[48px] absolute right-[80px] -top-[18px]">
              </div>
              <div class="mt-[20px] w-[420px] mx-auto">XXX是一家专注于web3.0，NFT等领域的新锐团队。XXX持续为IP赋予更高的价值，相互叠加赋能，畅游WEB3.
              </div>
            </div>
          </div>
          <div class="mx-auto align-top 2xl:max-w-[1800px]">
            <img src="static/image/bottom.png" alt="" class="w-full">
          </div>
        </div>
      </main>
      <footer class="p-[80px] bg-black -mt-[2px] relative">
        <div class="mx-auto relative max-w-[1440px]">
          <article class="text-white pt-[100px] pl-[120px] h-[560px] bg-[#1D1D1D] rounded-[60px]">
            
           
            <img src="static/image/foot_bg.png" alt="" class="absolute right-[54px] bottom-0">
            <a href="index.html">
              <img src="static/image/foot_logo.png" alt="" class="">
            </a>
            <p class="w-[390px]  tracking-widest">CryptoDeer是群星联盟发布的第一个系列NFT，以加密鹿为主要元素。CryptoDeer将由当红流量女星持有，打造群星联盟，助力明星逐鹿加密世界。持有NFT可以获得超强赋能，明星互动、明星产品空投、明星周边空投、白名单空投、限量福利一系列综合赋能，打造加密世界群星联盟IP，组件群星区块链联盟</p>
            <p class="absolute left-[120px] bottom-[100px] m-0 text-[14px] text-white/[.5] tracking-wider font-light">© 2022 CryptoDeer.inc</p>
            <div class="flex justify-start absolute left-[120px] bottom-[127px]">
              <a class="padding-10" target="_blank" href="https://discord.gg/cheersup"><img src="static/image/tuite-f.png" alt="" style="width:30px;"></a>
              <a class="padding-10" target="_blank" href="https://discord.gg/cheersup"><img src="static/image/discord-f.png" alt="" style="width:30px;"></a>
              <a class="padding-10" target="_blank" href="https://discord.gg/cheersup"><img src="static/image/OpenSea-f.png" alt="" style="width:30px;"></a>
            </div>
            <div class="p-0 w-[45%] flex justify-start flex-row-reverse flex-wrap-reverse absolute right-[100px] top-[200px] text-[16px] text-white font-semibold text-left">
              <ul class="w-[200px] ml-[60px]">
                <li class="mb-[32px] xl:mb-[40px] text-white/40">法务</li>
                <li class="mb-[32px] xl:mb-[40px]">
                  <a href="javascript:;" target="_blank" class="cursor-pointer inline-block a-hover-line">隐私政策</a>
                </li>
                <li class="mb-[32px] xl:mb-[40px]">
                  <a href="javascript:;" target="_blank" class="cursor-pointer inline-block a-hover-line">服务条款</a>
                </li>
              </ul>
              <ul class="w-[200px] ml-[60px]">
                <li class="mb-[32px] xl:mb-[40px] text-white/40">项目</li>
                <li class="mb-[32px] xl:mb-[40px]">
                  <a target="_blank" class="cursor-pointer inline-block a-hover-line" href="">CRYPTODEER</a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </footer>
      <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
      <script src="static/js/index.js"></script>
  </body>
</html>