{template "header.html"}
<div class="note note-danger">
    <p>自定义应用程序目录是：{APPSPATH}</p>
</div>
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover table-checkable dataTable">
            <thead>
            <tr class="heading">
                <th width="90" style="text-align:center"> {dr_lang('类别')} </th>
                <th width="330"> {dr_lang('应用目录')}</th>
                <th> {dr_lang('操作')} </th>
            </tr>
            </thead>
            <tbody>
            {php $i=1;}
            {loop $list $dir $t}
            <tr class="odd gradeX">
                <td style="text-align:center">{$t.type}</td>
                <td>{$t.cname}</td>
                <td>
                    <label><a href="{dr_url('dever/home/c_index', ['dir'=>$dir])}" class="btn btn-xs blue"> <i class="fa fa-code"></i> {dr_lang('控制器管理')} </a></label>
                    {if $t.is_app && !dr_is_app($dir)}
                    <label><a href="{dr_url('cloud/local')}" class="btn btn-xs red"> <i class="fa fa-cog"></i> {dr_lang('未安装')} </a></label>
                    {/if}
                </td>
            </tr>
            {php $i++;}
            {/loop}
            </tbody>
        </table>
    </div>


</form>


{template "footer.html"}