{template "header.html"}

<form class="form-horizontal" role="form" id="myform">
    {$form}
    <div class="form-body">
        <div class="form-group" id="dr_row_name">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('文件名')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="dr_name" name="name">
                <span class="help-block"> {dr_lang('由a-z的字母开头，可以包含数字或_符号')} </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('中文名')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="fname">
                <span class="help-block"> 控制器中文命名 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('存储路径')}</label>
            <div class="col-xs-8">
                <div class="form-control-static">{$path}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('数据表')}</label>
            <div class="col-xs-8">
                <select name="table" class="form-control">
                     {loop $tables $t}
                    <option value="{$t.Name}">{$t.Name}（{$t.Comment}）</option>
                    {/loop}
                </select>
                <span class="help-block"> 本控制器会对指定表进行增删改操作示例，请不要选择系统自带的表，以免导致系统崩溃 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('模板格式')}</label>
            <div class="col-xs-8">
                <div class="mt-radio-inline">
                    <label class="mt-radio mt-radio-outline">
                        <input type="radio" name="tpl" value="2"> 共享模板：系统会调用公共的列表模板和编辑模板 <span></span>
                    </label>
                    <label class="mt-radio mt-radio-outline">
                        <input type="radio" name="tpl" value="1"> 独立模板：系统会单独创建对应的列表模板和编辑模板 <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
{template "footer.html"}