{template "header.html"}
<div class="note note-danger">
    <p>数据控制器是用于对数据库数据的操作：列表显示、添加数据、修改数据、删除数据</p>
</div>
<form class="form-horizontal" role="form" id="myform">
    {dr_form_hidden()}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject sbold">创建控制器</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="form-group" id="dr_row_title">
                    <label class="col-md-2 control-label ">{dr_lang('主题')}</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="dr_title" name="data[title]" value="{$title}">
                    </div>
                </div>
                <div class="form-group" id="dr_row_price">
                    <label class="col-md-2 control-label ">{dr_lang('基础价格')}</label>
                    <div class="col-md-6">
                        <label><input type="text" class="form-control" id="dr_price" name="data[price]" value="{$price}"></label>
                        <span class="help-block">此报价单最低价格</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label ">{dr_lang('自定义显示模板')}</label>
                    <div class="col-md-6">
                        <label><input type="text" class="form-control" name="data[value][template_show]" value="{$value.template_show}"></label>
                        <span class="help-block">默认模板是*/offer/offer_show.html，填写格式：xxxx.html</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label ">{dr_lang('自定义提交模板')}</label>
                    <div class="col-md-6">
                        <label><input type="text" class="form-control" name="data[value][template_post]" value="{$value.template_post}"></label>
                        <span class="help-block">默认模板是*/offer/offer_post.html，填写格式：xxxx.html</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="portlet-body form myfooter">
        <div class="form-actions text-center">

            <label><button type="button" onclick="dr_ajax_submit('{dr_now_url()}', 'myform', '2000')" class="btn green"> <i class="fa fa-save"></i> {dr_lang('保存内容')}</button></label>

        </div>
    </div>
</form>


{template "footer.html"}